body{
    font-family: Impact;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    color: #000000;
}
header{
    background-color: #CEF9DC;
    width: 100%;
    top: 0;
    text-align: center;
    position: fixed;
    z-index: 9999;
}
.main{
    background-color: #ffffff;
    width: 50em;
    margin: 15em 20em;
    padding: 10em;
    border: double 1em #f3e2cb;
    text-align: center;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
footer{
    background-color: #89c7de;
    width: 100%;
    padding: 2em;
    bottom: 0;
    text-align: center;
    position: fixed;
    z-index: 9999;
}
p{
    line-height: 2em;
}
.right_space_2em{
    margin-right: 2em;
}
.left_space_1em{
    margin-left: 1em;
}
ul{
    padding-left: 0;
	list-style: none;
    display: inline-block;
    line-height: 3em;
}
li{
    text-align: left;
}
h3{
    top: 2em;
}
img{
    width: 20em;
}